# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
build/

# misc
.DS_Store
.storage

npm-debug.log*
yarn-debug.log*
yarn-error.log*

config.js
config.test.js

.idea/
.vscode/
